// Place all the styles related to the Expense controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.expense-table {
  width: 80%;
  .change {
    display: none;
    margin-left: 7px;
    color: #5cb85c;
  }
  tr:hover .change {
    display: inline-block;
  }

  tr:hover > th  {
    color: #080808 !important;
  }

  .delete {
    color: #0088cc;
  }

  .confirmation
  {
    color: #080808 !important;
  }
  .header
  {
    color: #080808 !important;
  }
}

#submit-expenses{

}